* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
}


/* Home Section Start */

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}


/* Logo Part */

.logo {
    width: 85px;
    margin-top: 20px;
    border-radius: 50px;
}


/* Navbar Start */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    color: #efefef;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: bolder;
}

.navbar ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #f7c30a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}


/* Navbar End */

.home-text {
    margin-top: 20%;
}

.home-text h1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

.home-text h1 span {
    color: rgb(255, 255, 255);

}

.home-text p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 1500;
}

.auto-input {
    border-bottom: 3px solid rgb(255, 253, 253);
}

/* Home End Start */


/* About Us Section Start */

#about {
    padding: 90px;
    color: rgb(4, 4, 4);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.heading {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 500;
    color: #071a97;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* About Section End */

/* Portfolio Section Start */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(162, 149, 149, 0.6), #cf9dae);
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ce0a0a;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    background: #071a97;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.btn:hover {
    background: linear-gradient(rgba(146, 216, 230, 0.6), #41cbd0);
}


/* Portfolilo Section End */

/* Contact Section Start */

.contact-left {
    flex-basis: 30%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #3a4c40;
    margin-right: 15px;
    font-size: 25px;
}

.social-item {
    margin-top: 30px;
}

.social-item a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;
}

.social-item a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #071a97;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    border: 1px solid black;
    background: #fffcfc;
    padding: 15px;
    margin: 15px 0;
    color: #101010;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


/* Contact Section End */

/* Footer Section Start */

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #071a97;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}

.copyright i {
    color: #ffffff;
}


/* CSS for Media Screen */

nav .fas {
    display: none;
}

@media only screen and (max-width:800px) {
    #header {
        background-image: url(../images/home.jpg);
    }

    .home-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .home-text {
        margin-top: 50%;
    }

    .home-text h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 70px;
    }

    .home-text h1 br {
        display: none;
    }

    .home-text p {
        color: #fdfffe;
        font-size: 20px;
        font-weight: 400;
    }



    nav .fas {
        display: block;
        font-size: 25px;
        color: whitesmoke;
    }

    nav ul {
        background: black;
        position: fixed;
        color: whitesmoke;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: none;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .heading {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 20px;
        margin-right: 20px;
    }

    #portfolio {
        flex-basis: 100%;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}